body {
	height: 100%;
}
p {
	font-family: 'PT Serif', serif;
}
h1,
h2,
h3,
h4,
label,
.btn {
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.btn.btn-green {
	color: white;
	background-color: #3CA773 !important;
	border: 1px solid #3CA773 !important;
}
.btn.btn-green:hover {
	color: white;
	background-color: #81CF89 !important;
	border: 1px solid #81CF89 !important;
}
.btn.btn-sm {
	letter-spacing: 5px;
	border-radius: 20px;
	padding: 1em 1.5em;
}
.gradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,6747a6+100 */
	background: #3023ae;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #3023ae 0%, #6747a6 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3023ae), color-stop(100%, #6747a6));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #3023ae 0%, #6747a6 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #3023ae 0%, #6747a6 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #3023ae 0%, #6747a6 100%);
	/* IE10+ */
	background: linear-gradient(135deg, #3023ae 0%, #6747a6 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3023ae', endColorstr='#6747a6', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
	width: 100%;
}
.gradient.gradient-bright {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3023ae+0,c86dd7+100 */
	background: #3023ae;
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #3023ae 0%, #c86dd7 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3023ae), color-stop(100%, #c86dd7));
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #3023ae 0%, #c86dd7 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #3023ae 0%, #c86dd7 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #3023ae 0%, #c86dd7 100%);
	/* IE10+ */
	background: linear-gradient(135deg, #3023ae 0%, #c86dd7 100%);
	/* W3C */
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3023ae', endColorstr='#c86dd7', GradientType=1);
	/* IE6-9 fallback on horizontal gradient */
}
.gradient.gradient-big {
	height: 650px;
}
img.img-big {
	position: absolute;
	top: -7em;
	height: 600px;
}
header {
	height: 5em;
	border-radius: 0;
	border: none;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header a {
	color: white;
}
header a:hover,
footer a:hover {
	text-decoration: none;
	color: #838D8F;
}
.navbar-brand {
	padding-left: 0;
	padding-top: 0.8em;
	font-weight: 700;
	font-size: 1.5em;
}
.navbar-right {
	margin-top: 1.75em;
}
.navbar-right a {
	padding: 1.2em 1em;
	margin-left: 1em;
}
footer {
	margin-top: 1.5em;
	width: 100%;
	min-height: 220px;
	padding: 3em 0;
	background-color: #3C3D41;
	color: #999;
}
footer a {
	color: white;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}
footer a:hover {
	text-decoration: none;
}
footer .de-emphasized a {
	color: #999;
	text-transform: none;
}
.big-name {
	font-size: 1.5em;
	color: white;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.big-name-gray {
	color: #999;
	position: relative;
	top: -0.25em;
}
.btn {
	text-transform: uppercase;
	color: #333;
	border: 1px solid #979797;
	border-radius: 40px;
	padding: 1em 3.5em;
	letter-spacing: 8px;
	background-color: white;
}
.btn-xs {
	margin-top: 0.5em;
	letter-spacing: 2px;
	border-radius: 10px;
	padding: 0.5em 1em;
	font-size: 10px;
}
.gradient .btn {
	color: white;
	background-color: transparent;
}
.jumbo .btn {
	letter-spacing: 4px;
	padding: 1em 2em;
}
.jumbo-container {
	height: 650px;
	margin-bottom: 1em;
	margin-right: 0;
}
.body-container {
	padding-top: 1.5em;
}
.btn:hover {
	color: #838D8F;
}
.btn-primary {
	border: none;
	color: white;
	background-color: #277CEA;
}
.btn-primary:hover {
	color: white;
	background-color: #277CEA;
	opacity: 0.7;
}
.btn-lg {
	padding: 1.5em 3.5em;
	margin-left: 1.5em;
}
#train-sentence {
	position: relative;
}
.highlight-red {
	background: rgba(255, 63, 63, 0.32);
}
.highlight-yellow {
	background: rgba(251, 212, 34, 0.39);
}
p {
	font-size: 16px;
}
p.light {
	color: #999;
}
p.big {
	font-size: 32px;
	margin: 1.5em 0 1.75em;
}
p.subhead {
	font-weight: 300;
	font-size: 1.4em;
}
.display {
	font-weight: 300;
}
h1.display {
	font-size: 5em;
}
h2.display {
	font-size: 2.5em;
}
.subhead {
	margin-top: 0;
}
.main {
	margin-top: 6em;
}
.label {
	text-transform: uppercase;
}
.label.label-primary {
	background-color: #6B3DE4;
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.color-primary {
	color: #6B3DE4;
}
.border-right {
	border-right: 1px solid #555;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: -1em;
	margin-bottom: -1em;
}
a.bold {
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #AAA;
}
.btn.btn-collection {
	margin-left: 0.5em;
}
.margin-top-xs {
	margin-top: 0.5em;
}
.margin-sm {
	margin-top: 1em;
	margin-bottom: 1em;
}
.margin-left {
	margin-left: 1em;
}
.margin-top-sm {
	margin-top: 2em;
}
.margin-top-sm {
	margin-top: 2em;
}
.margin-tb-sm {
	margin-top: 2em;
	margin-bottom: 1em;
}
.icon {
	width: 160px;
}
.icon-md {
	width: 100px;
}
.icon-sm {
	width: 60px;
}
.icon-fit {
	width: 100%;
}
.icon-xs {
	width: 15px;
}
.icon-delete {
	opacity: 0.2;
}
.icon-delete:hover {
	opacity: 1;
}
h2.heading {
	margin-top: 0;
}
span.heading {
	border-bottom: 3px solid #000;
}
.no-select {
	-webkit-user-select: none;
}
.red {
	background-color: rgba(255, 63, 63, 0.32);
}
.blue {
	background-color: rgba(16, 60, 211, 0.28) !important;
}
.green {
	background-color: rgba(16, 211, 67, 0.27);
}
.yellow {
	background-color: rgba(251, 212, 34, 0.39);
}
.pink {
	background-color: rgba(208, 16, 211, 0.28);
}
.gray {
	background-color: rgba(0, 0, 0, 0.04);
}
.green-text {
	color: #3AC459;
}
.red-text {
	color: #E74C3C;
}
.dialog-left {
	color: #70B7BA;
	font-weight: 900;
	font-size: 1.4em;
}
.dialog-right {
	margin-left: 1em;
	color: #3D4C53;
	font-weight: 900;
}
.jumbo {
	margin-top: 10em;
}
.jumbo h1 {
	color: white;
	font-size: 48px;
	margin: 0;
	padding: 0;
	line-height: 0.8em;
}
.jumbo p {
	color: white;
	font-size: 24px;
	margin: 1.5em 0;
}
.jumbo .btn {
	margin-right: 2em;
}
.fade {
	-webkit-transition: opacity .4s ease-in-out;
	-moz-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	-ms-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	opacity: 0;
}
.fade.fade-in {
	opacity: 1;
}
.phone {
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	white-space: nowrap;
}
.tour-icon {
	display: block;
	margin: 0.8em auto 0;
	max-width: 100%;
	max-height: 50px;
}
.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
input.form-control {
	color: #333;
	background-color: #EEE;
	border: 1px solid #E8E8E8;
	border-top: 1px solid #DDD;
}
input.form-control.form-white {
	background-color: white;
}
.calendar-selector {
	margin-bottom: 0;
}
.calendar-selector td {
	border-right: 1px solid #ddd;
	text-align: center;
}
.calendar-row {
	font-size: 9.5px;
	padding: 0.25em 0;
	border-bottom: 1px solid #eee;
	width: 17px;
}
.calendar-time {
	height: 50px;
}
.calendar-time:hover {
	background-color: rgba(16, 60, 211, 0.18);
}
.chat-container {
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.chat-textarea {
	width: 100%;
	border: none;
	border-top: 1px solid #ccc;
	font-family: 'PT Serif', serif;
	font-size: 16px;
}
.top-header {
	background: #666;
	color: white;
	padding: 0.2rem;
	position: relative;
	overflow: hidden;
	border-bottom: 4px solid #35ac19;
}
.top-header:hover {
	background-color: #35ac19;
}
.top-header-tit {
	display: inline;
	font-size: 14px;
}
.top-header .typicons-message {
	display: inline-block;
	padding: 2px 5px 2px 5px;
	font-size: 20px;
	position: relative;
	top: 5px;
}
.top-header .typicons-minus {
	position: relative;
	top: 3px;
	font-size: 15px;
	cursor: pointer;
}
.top-header .typicons-times {
	position: relative;
	top: 3px;
	font-size: 15px;
	cursor: pointer;
}
.top-header .left {
	float: left;
}
.top-header .right {
	float: right;
	padding-top: 5px;
}
.top-header > * {
	position: relative;
}
.top-header::before {
	content: '';
	position: absolute;
	top: -100%;
	left: 0;
	right: 0;
	bottom: -100%;
	opacity: 0.25;
	background-color: #404040
}
.chat-container input {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
}
.chat-container input, .chat-container textarea {
	padding: 0.25em;
}
.chat-box {
	list-style: none;
	background: #e5e5e5;
	margin: 0;
	padding: 0 0 0.25em 0;
	height: 400px;
	overflow-y: auto;
}
.chat-box li {
	font-size: 14px;
	padding: 0.25rem;
	overflow: hidden;
	display: flex;
}
.chat-box p {
	font-size: 16px;
}
.chat-box .avatar-icon {
	width: 40px;
	position: relative;
}
.chat-box .avatar-icon img {
	display: block;
	width: 100%;
	background-color: #1469A6;
}
.chat-user .avatar-icon:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 5px solid white;
	border-left-color: transparent;
	border-bottom-color: transparent;
}
.chat-ava {
	justify-content: flex-end;
	align-items: flex-end;
}
.chat-ava .messages {
	order: 1;
	border-bottom-right-radius: 0;
}
.chat-ava .avatar-icon {
	order: 2;
}
.chat-ava .avatar-icon:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid white;
	border-right-color: transparent;
	border-top-color: transparent;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.messages {
	background: white;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	max-width: 95%;
}
.messages p {
	margin: 0 0 0.2rem 0;
}
.messages time {
	font-size: 0.8em;
	color: #ccc;
}
.setting {
	background-color: #e5e5e5;
	height: 32px;
	padding-top: 2px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.setting .left {
	float: left;
}
.setting .right {
	float: right;
}
.iconicstroke-user {
	font-size: 22px;
	position: relative;
	top: 4px;
	left: 10px;
	color: #414141;
	cursor: pointer;
}
a,
div,
span,
input.form-control {
	font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.table>tbody>tr>td {
	border: none;
}
.subtle {
	font-style: italic;
	color: #AAA;
}
.subtle-sm {
	font-size: 10px;
}
.centered {
	text-align: center;
}
.empty-state {
	margin: 3em auto 5em auto;
	display: block;
	text-align: center;
}
.btn-oauth-signin:hover {
	opacity: 0.8;
}
@media (max-width: 320px) {
	#btns .btn {
		margin-left: 0 !important;
	}
}
@media (max-width: 992px) {
	.border-right {
		border: none;
	}
	.hide-small {
		display: none;
	}
	.img-big {
		display: none;
	}
	.jumbo {
		margin-top: 2em;
	}
	.hide-md {
		display: none;
	}
	.jumbo h1 {
		font-size: 2.5em;
		line-height: 1em;
	}
	.jumbo {
		text-align: center;
	}
	.gradient.gradient-big,
	.jumbo-container {
		height: inherit !important;
		position: relative;
	}
	.jumbo a.btn {
		margin-bottom: 1.5em;
	}
	.margin-bottom {
		margin-bottom: 0.5em;
	}
	#btns {
		margin: 3em 0 1.5em;
	}
	#btns .btn {
		margin-right: 1em;
		margin-left: 1em;
	}
	.body-container {
		padding-top: 0.5em;
	}
	footer {
		position: relative;
		padding-top: 1.5em;
		padding-bottom: 1.5em;
		min-height: 0;
	}
}
@media (min-width: 992px) {
	.card {
		padding: 1em;
		border-radius: 10px;
		border: 1px solid #EEE;
	}
}
