html, body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.05em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}
.main {
	width: 85%;
	display: inline-block;
	background-color: #FAFAFA;
	margin-left: -1px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	height: auto;
	min-height: 100%;
}
.main-no-sidebar {
	margin: 3em 1em 0 1em;
}
.main-no-sidebar .big-icon {
	width: 150px;
}
.top-el {
	margin-top: 0;
}
.hidden {
	display: none;
}
.centered {
	text-align: center;
}
