.plugin-icon {
	width: 25%;
	min-width: 100px;
	padding: 0.5em;
	display: inline-block;
}
.plugin-icon img {
	width: 40%;
	padding: 1em 0;
	display: block;
	margin: 0 auto;
}
.plugin-icon .name {
	text-align: center;
}
