table {
	border-collapse: collapse;
}
th {
	text-align: left;
}
.table {
	width: 100%;
}
.table tr {
	border-bottom: 1px solid #ccc;
}
.table tr:hover {
	background-color: #eee;
}
.table td {
	padding: 1em 0.5em;
}
.table td.right {
	text-align: right;
}
