html, body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	min-height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.05em;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
}
.body {
	height: inherit;
	min-height: inherit;
}
.main {
	display: table-cell;
	background-color: #FAFAFA;
	margin-left: -1px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	height: inherit;
	min-height: inherit;
}
.main.sidebar-right {
	width: 100%;
}
.main-no-sidebar {
	margin: 3em 1em 0 1em;
}
.main-no-sidebar .big-icon {
	width: 250px;
	margin-bottom: 1.5em;
}
.top-el {
	margin-top: 0;
}
.hidden {
	display: none !important;
}
.centered {
	text-align: center;
}
