.well {
	min-width: 200px;
	border: 1px solid #DDD;
	border-radius: 4px;
	display: inline-block;
	margin: 0.5em;
	vertical-align: top;
}
.well.well-full {
	display: block;
	margin-bottom: 1em;
}
.well .well-padding {
	padding: 0.75em;
}
.well .well-content-lg {
	margin: 0.5em 0;
	font-size: 2.5em;
	font-weight: 600;
}
.well .well-content {
	margin-top: 1em;
}
.well .well-footer {
	border-top: 1px solid #DDD;
	margin-top: -0.5em;
	text-align: center;
}
.well .well-footer a {
	padding: 0.5em;
	display: block;
	color: #2980B9;
}
.well .well-footer:hover {
	background-color: #EFEFEF;
}
.well.well-sm {
	width: 30%;
}
.well.well-md {
	width: 46%;
	min-width: 360px;
}
.well.well-centered {
	display: block;
	margin: 1.5em auto 0 auto;
}
.well.well-white {
	background-color: white;
}
.well.well-no-border {
	margin-top: 3em;
	width: inherit;
	min-width: inherit;
	border: none;
	padding: 0;
}
.well.well-form {
	display: block;
	margin: 0 auto;
	max-width: 300px;
	min-width: 270px;
	border-bottom: 2px solid #DDD;
	background-color: white;
}
.well.well-form input[type=text],
.well.well-form input[type=email],
.well.well-form input[type=password],
.well.well-form input[type=tel] {
	width: 80%;
}
.well.well-sep {
	margin-bottom: 2.5em;
}
